.App {
  display: flex;
  justify-content: space-around;
  height: 100vh;
  align-items: center;
}

header {
  height: 6vh;
  border-bottom: 2px solid aquamarine;
  text-align: center;
  font-size: 2em;
  font-weight: 700;
  color: white;
}

.actions-container {
  height: 8vh;
}
.code-editor-container {
  display: flex;
  flex-direction: column;
  border: 2px solid aquamarine;
  width: 26%;
  height: 96vh;
}

.execution-visualizer-container {
  border: 2px solid aquamarine;
  width: 70%;
  height: 96vh;
}

.sections-container {
  display: flex;
  height: 100%;
}

.call-stack-container {
  height: 100%;
  border-right: 2px solid aquamarine;
  flex: 18%;
}

.execution-logs-container {
  height: 100%;
  border-right: 2px solid aquamarine;
  flex: 18%;
}
.animations-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 64%;
}

.actions-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.horizontal-container {
  height: 90%;
  width: 96%;
  height: 32%;
  margin: 10px;
  width: 90%;
  margin: auto;
}

button {
  width: 100px;
  height: 40px;
  border-radius: 5%;
  border: none;
  background-color: aquamarine;
  font-weight: 600;
  font-size: 1em;
}
